.ctAppRoot .basemapslider {
    background-color: transparent;
}

.ctAppRoot .vue-base .basemapslider .input-group {
    padding: 0 0 0;
}

.ctAppRoot .vue-base .basemapslider .v-chip {
    color: white;
}
